{
  "removeComments": true,
  "removeCommentsFromCDATA": true,
  "removeCDATASectionsFromCDATA": true,
  "collapseWhitespace": true,
  "conservativeCollapse": true,
  "collapseBooleanAttributes": true,
  "removeAttributeQuotes": true,
  "removeRedundantAttributes": true,
  "useShortDoctype": true,
  "removeEmptyAttributes": false,
  "removeOptionalTags": false,
  "removeEmptyElements": false,
  "lint": false,
  "keepClosingSlash": false,
  "caseSensitive": false,
  "minifyJS": true,
  "minifyCSS": true,
  "minifyURLs": [ "option": [ "site": "https://ascullion.com"] ],
  "ignoreCustomComments": [],
  "processScripts": []
}
